<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!-- setting property of image using the property binding [] -->
      <img [src]="imageUrl" alt="tree" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">{{ title }}</p>
      <p class="subtitle is-6">{{ username }}</p>
    </div>
    <div class="content">{{ content }}</div>
  </div>
</div>

<!-- this is the card component which is the child of the app component which is the parent.  -->
