<!-- using ng for directive to iterate over an array and show components inside of an array.  -->
<!-- ng for does not work like the normal for of loop, we can access it outside its scope anywhere unlike JS where we can access it in curly braces. -->
<app-card
  *ngFor="let post of posts"
  [title]="post.title"
  [imageUrl]="post.imageUrl"
  [content]="post.content"
  [username]="post.username"
></app-card>

<!-- Duplicating HTML is a sign that you need to create a new component.  -->
<!-- create a component by using ng generate component <name> and it generates component dropdown, component tabs, component repository -->
<!-- All angular apps are made of multiple different components. -->
<!-- Each component is designed to implment one thing in the app that is visible on the screen.  -->
<!-- A component wraps up all the HTML and code to make one little widget work correctly.  -->
<!-- A component can be reused multiple times in the same application.  -->
<!-- Components can be nested, or shown inside of each other.  -->
<!-- Every app has a component called the 'App' component, and it is always the most parent component.  -->
<!-- Each component has its own component class, component template, component css file, and spec file.  -->

<!-- app cpomponent, this is the parent component to the card component which is the child -->
<!-- in this component we are creating the child component app-card -->
<!-- we have then decided to pass property names that we want to use to communicate from the parent to child for ex title, content, username-->
<!-- we then used the property binding syntax [] and then the information we want to pass down to the card component -->
<!-- we then have to teach our child component to accept the value and hence we designated input property in card.ts file by importing input decorator and 
adding properties @input() title = '', and also adding Input in the import file of the card component.ts -->
<!-- In the card comonent html file, we made use of the vale that was passed down by using interpolation.  -->
